/* {
	background-color: #341f97;
	width : 1100;
}*/
.container {
	background-color: #341f97;
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
    width: 1200px;   
}
.container-mobiles {
	display:flex;
	height: 100px;

	margin: 0 auto;
	margin-right: 25px;
	/*position : relative;*/
	width : 100%;	

}
.mobile1, .mobile2, .mobile3 {
	background-color: #f1f2f6;
	border-radius: 15px;
	height: 655px;
	margin: 30px;
	position : relative;
	top : -10px;
	width : 28%;
	z-index: 999;	
}
.mobile1, .mobile3 {
	margin-top : 80px;
}
.mobile2 {
	background-color: #12CBC4;
	margin-top : 50px;
}
/*.corner1 {
	background-color: yellow;
	position : absolute;
	left : 136px;
	height: 100px;
	border-top-right-radius: 15px;
	border-top-left-radius : 100px;
	border-bottom-left-radius: 150px 100px;
	/*transform: rotate(45deg);
 border-bottom-left-radius: 150px 100px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 100px;
	border-bottom : 50px solid transparent;
	width : 200px;
	top : -0;
}*/
.circle1 {
	background:  linear-gradient(to right top,#eb4d4b,#ff9f43, #feca57 ,#f1c40f);
    
    border-radius: 50%;
    height: 500px;
    left: 107px;
    position: absolute;
    width: 500px;
    top: -43%;   
}
.circle2 {
	background:  linear-gradient(to right top,#f1c40f 10%,#feca57 20%, #ff9f43 30%,#eb4d4b 50%);
    border-radius: 50%;
    height: 500px;
    position: absolute;
    right: -235px;
    top: -335px;
    width: 500px;
}
.circle {
	/*background-color: green;*/
	border-radius: 50%;
	/*height: 400px;
	width: 400px;*/
}
.circles {
	display : flex;
	position : relative;
	width : 100%;
	height: 500px
}
.circle11 {
	background:  linear-gradient(to right top,#f1c40f 10%,#feca57 20%, #ff9f43 30%,#eb4d4b 50%);
	position: absolute;
    height: 400px;
    bottom: -55px;
    left: -99px;
    width: 400px;
}
.circle22 {
	background:  linear-gradient(to bottom,#eb4d4b,#ff9f43 ,#feca57,#f1c40f);
	position: absolute;
    height: 400px;
    bottom: 60px;
    left: 443px;
    top: 232px;
    width: 400px;
}
.circle33 {
	background:  linear-gradient(to right top,#f1c40f 10%,#feca57 20%, #ff9f43 30%,#eb4d4b 50%);
	position: absolute;
    height: 400px;
    bottom: 0px;
    left: 1033px;
    top: 690px;
    width: 400px;
}
.mobile1 {
	text-align: left; 
	padding-left: 20px
}
.games {
	width: 70%;
}
.game {
	margin-bottom: 15px
}
.title-game {
	float : right;

}
.aqualona-titles h1 {
	font-size: 40px;
    margin: 0;
}
.aqualona-titles p {
   font-size: 14px;
   font-weight: bold;
   opacity :0.9;
   margin-bottom: 40px;
}
.aqualona-titles p i {
	font-size: 18px;
	color : #fff; 
	 
	background: #0652DD; 
	
	border-radius: 50%;
	vertical-align : middle;
	padding : 10px;
	margin-right: 10px
}
.aqualona-titles p:last-child {
	font-size: 35px;
	font-weight: normal;
	margin-top: 0;
}
.mobile2-header {
	color : #FFF;
	width : 80%;
}
.mobile2-header p {
	font-size: 20px;

}
.mobile2 .row {
	width : 100%;
	display : flex;
}
.mobile2 .row .col1 {
   color : #FFF;	
   width : 50%;
}

.text1 h2 , .text2 h2 , .text2 p{
	padding-left : 30px;
	margin : 0;
}
.mobile2 .row .col2 {
	width : 50%;
}
.text2 {
	margin-top : 30px;
	margin-bottom: 30px;
}
.col2 {
	position : relative;
	/*z-index: 1;*/
}
.wave i {
   font-size: 100px;
   color : blue;
   
}
.col2-img {
	position : absolute;
	z-index: 2;
}
.wave {
	position : absolute;
	top : 300px;

	opacity: 0.7;
	z-index: 1;
}

.mobile2-header {
	width :80%;
	margin:0 auto;
}
.mobile2-header p i {
  margin-right: 50px;
  font-size: 30px;
  margin-bottom: 30px
}
.mobile3-header {
	margin : 20px;
	padding :10px;
}
.mobile3>h1{
  clear : both; 
  margin:40px auto 40px 20px; 
  color:#1B1464
}
.mobile3-header i {
   float : left;
   font-size: 40px;
   }
.mobile3-header img {
	float :right;
	 border-radius : 50%
}   

.mobile3-cards {
	/*clear : both;*/
	display : flex;
}

.mobile3-card1 p:nth-child(1),
.mobile3-card2 p:nth-child(1),
.mobile3-card1 p:nth-child(1)
{
	margin-bottom: 15px;
}
.mobile3-card1, .mobile3-card2, .mobile3-card3
{
	width: 380px; 
	height: 100px;
	background : #fff;
	margin : 10px;
	border-radius : 15px;
	text-align: center
}
.mobile3-card1 {
	background-color: #0652DD;
	color:#FFF;

}
.mobile3-card1 i{
	font-size: 25px;
	color:#FFF
}
.mobile3-card2 i{
	font-size: 25px;
	color:yellow
}
.mobile3-card3 i{
	color :#1dd1a1;
	font-size: 25px;
}

.mobile3-card1 h4, 
.mobile3-card2 h4,
.mobile3-card3 h4 {
	margin-bottom: 0;
	margin-top: 0
}
.mobile3-card2 h4,
.mobile3-card3 h4 {
	color :#2f3542;
}
.mobile3-card1 p:last-child ,
.mobile3-card2 p:last-child ,
.mobile3-card3 p:last-child {
	margin-top: 0;
	opacity: 0.5
}
button {
	background-color: #f7b731;
	color: #2f3542;
	text-align: center;
    vertical-align: middle;
    width : 100%;
    height: 50px;
    outline: none;
    border-radius:5px;
    border:none;
}
.mobile3-inputs {
	margin : 30px
}
.inputs-name {
	display : flex;
	flex-direction: column;
}
.inputs-checks {
	display : flex;
	flex-direction: row;
}
.check-in {
	display : flex;
	flex-direction: column;
	margin-right:20px;
	/*width:50%*/
}
.check-out {
	display : flex;
	flex-direction: column;
	margin-right:0;
	/*width:50%*/
}
.check-in input, .check-out input {
	width : 85%;
}
.inputs-name label, .inputs-checks label{
 color : #34ace0;
 letter-spacing: 3px;
 font-weight: bold;	
 margin-top : 10px;
 margin-bottom: 10px;
}
.inputs-name input[type=text], .inputs-checks input[type=text]{
	padding : 10px;
	opacity: 0.4;
}
